[submodule "vendor/screw-unit"]
	path = vendor/screw-unit
	url = git://github.com/nkallen/screw-unit.git
[submodule "vendor/smoke"]
	path = vendor/smoke
	url = git://github.com/andykent/smoke.git
[submodule "vendor/screw-matchers"]
	path = vendor/screw-matchers
	url = git://github.com/jazen/screw-matchers.git
